@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

.big_nav {
  background-color: #374249;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  font-weight: 300; }
  .big_nav .newyork {
    display: flex;
    padding: 20px 150px 20px 40px;
    background-color: #f75311; }
    .big_nav .newyork i {
      margin-right: 10px; }
  .big_nav ul {
    display: flex; }
    .big_nav ul li {
      list-style: none;
      padding: 0px 30px; }

.hero .image {
  position: relative; }
  .hero .image img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; }
.hero .hero_text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #fff;
  background: rgba(55, 66, 73, 0.5); }
  .hero .hero_text h1 {
    font-size: 50px;
    font-weight: 400; }
  .hero .hero_text p {
    font-weight: 300;
    font-size: 18px; }

.galery {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #797979; }
  .galery .filter {
    display: flex;
    justify-content: end; }
    .galery .filter ul {
      display: flex; }
      .galery .filter ul li {
        list-style: none;
        margin-right: 50px; }
  .galery .flex_div {
    display: flex;
    flex-wrap: wrap; }
    .galery .flex_div img {
      width: 200px;
      height: 300px;
      background-size: cover;
      margin-top: 50px;
      margin-right: 50px; }

.pricing {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  height: 350px; }
  .pricing h2, .pricing p {
    text-align: center; }
  .pricing h2 {
    text-align: center;
    color: #374249;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .pricing p {
    color: #797979; }
  .pricing .table1 {
    position: absolute;
    width: 50%;
    display: flex;
    bottom: 50px;
    justify-content: end;
    left: 0; }
    .pricing .table1 table {
      width: 70%;
      text-align: center;
      border-collapse: collapse;
      color: #fff; }
      .pricing .table1 table td {
        background-color: #374249;
        border-bottom: 1px solid #cfd1d3;
        padding: 5px;
        border-right: 1px solid #cfd1d3; }
      .pricing .table1 table .orange {
        background-color: #f75311; }

.table2 {
  position: absolute;
  width: 50%;
  display: flex;
  bottom: 50px;
  justify-content: start;
  right: 0; }
  .table2 table {
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    color: #fff; }
    .table2 table td {
      background-color: #374249;
      border-bottom: 1px solid #cfd1d3;
      padding: 5px;
      border-right: 1px solid #cfd1d3; }
    .table2 table .orange {
      background-color: #f75311; }

.contact {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }
  .contact h2 {
    text-align: center;
    color: #374249;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .contact .contact_flex {
    margin-top: 100px;
    display: flex;
    justify-content: center; }
    .contact .contact_flex iframe {
      width: 50%;
      height: 300px;
      margin-right: 100px; }
    .contact .contact_flex form {
      background-color: #f75311;
      height: 200px;
      padding: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch; }
      .contact .contact_flex form .first {
        display: flex;
        justify-content: space-between; }
        .contact .contact_flex form .first select {
          width: 100px; }
        .contact .contact_flex form .first input {
          width: 400px; }

footer {
  background-color: #374249;
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding: 10px; }
  footer span {
    color: #f75311; }

/*# sourceMappingURL=main.css.map */
