body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
}

nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #374249;
  color: white;
}
nav div {
  height: 80px;
  width: 20%;
  background-color: #f75311;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav div img {
  height: 60%;
  padding-left: 20px;
  padding-right: 5px;
}
nav div a {
  color: white;
  font-size: 24px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 500px;
  list-style-type: none;
  text-decoration: none;
  padding-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
nav ul li:hover {
  text-decoration: underline;
}
nav .nevidljivo {
  display: none;
}

main .prvaKlasa {
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
  height: 100%;
}
main .prvaKlasa div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(55, 66, 73, 0.5411764706);
  color: white;
  margin-top: 20%;
  text-align: center;
}
main .prvaKlasa div h1 {
  font-size: 4em;
  font-weight: 400;
}
main .prvaKlasa div p {
  font-size: 24px;
}
main .drugaKlasa .buttonBox {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
main .drugaKlasa .buttonBox button {
  height: 50px;
  margin-left: 30px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px #cfd1d3 solid;
  font-size: 16px;
  color: #797979;
}
main .drugaKlasa .buttonBox button:hover {
  background-color: #cfd1d3;
  color: white;
}
main .drugaKlasa .box1 {
  background-color: #f3f7f9;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
}
main .drugaKlasa .box1 .slike {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
main .drugaKlasa .box1 .slike .zaHover {
  height: 320px;
  width: 20%;
  overflow: hidden;
  margin: 20px;
  position: relative;
}
main .drugaKlasa .box1 .slike .zaHover:hover .zaHoverr {
  display: block;
}
main .drugaKlasa .box1 .slike .zaHover .zaHoverr {
  position: absolute;
  font-size: 1.7em;
  background-color: rgba(255, 255, 255, 0.541);
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  display: none;
}
main .trecaKlasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #797979;
}
main .trecaKlasa h1 {
  padding-top: 60px;
  color: #374249;
}
main .trecaKlasa p {
  padding-top: 50px;
}
main .trecaKlasa button {
  display: none;
}
main .trecaKlasa table {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 750px;
  height: 170px;
  border-collapse: collapse;
}
main .trecaKlasa table th, main .trecaKlasa table td {
  border: 1px solid #797979;
}
main .trecaKlasa table .zero {
  border: none;
}
main .trecaKlasa table .one {
  border: 1px solid #f75311;
  background-color: #f75311;
  font-weight: bold;
  color: white;
}
main .trecaKlasa table .two {
  background-color: #f75311;
  color: white;
}
main .trecaKlasa table .three {
  background-color: #374249;
  color: white;
  font-weight: bold;
}
main .cetvrtaKlasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f7f9;
  padding-bottom: 60px;
}
main .cetvrtaKlasa h1 {
  padding-top: 60px;
  color: #374249;
}
main .cetvrtaKlasa div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 60px;
}
main .cetvrtaKlasa div iframe {
  height: 285px;
  width: 400px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma {
  width: 750px;
  height: 200px;
  background-color: #f75311;
  margin-top: 0;
  padding: 35px;
  margin-left: 20px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .horizontal .spol {
  width: 20%;
  height: 30px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .horizontal .imja {
  width: 70%;
  height: 30px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .pocta {
  height: 30px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .tekst {
  height: 60px;
}

footer {
  height: 60px;
  background-color: #374249;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer p {
  bottom: 4px;
}
footer p span {
  color: #f75311;
}

@media screen and (max-width: 1007px) {
  main .drugaKlasa .box1 .slike .zaHover {
    width: 40%;
  }
  main .cetvrtaKlasa div {
    justify-content: center;
  }
  main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma {
    margin-top: 2em;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav div {
    width: 100%;
    height: 80px;
  }
  nav ul {
    display: none;
  }
  nav .nevidljivo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #374249;
    width: 100%;
    height: 240px;
    padding: 0;
  }
  nav .nevidljivo li {
    padding: 10px;
  }
  nav:hover .nevidljivo {
    display: flex;
  }
  main .prvaKlasa {
    background-image: none;
    background-color: black;
    align-items: end;
    padding-bottom: 3%;
  }
  main .prvaKlasa div {
    background-color: black;
    margin-top: 200px;
  }
  main .drugaKlasa .buttonBox {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
  }
  main .drugaKlasa .buttonBox #bezM {
    margin: 0;
  }
  main .drugaKlasa .box1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  main .drugaKlasa .box1 .slike .zaHover {
    width: 95%;
  }
  main .drugaKlasa .box1 .slike .zaHover img {
    height: 240%;
  }
  main .drugaKlasa .box1 .slike .zaHover .zaHoverr {
    display: block;
    padding-left: 1em;
    padding-right: 10em;
  }
  main .trecaKlasa table {
    display: none;
  }
  main .trecaKlasa button {
    display: block;
    height: 50px;
    margin-top: 2em;
    margin-bottom: 3em;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px #cfd1d3 solid;
    font-size: 16px;
    color: #797979;
  }
  main .trecaKlasa button:hover {
    background-color: #cfd1d3;
    color: white;
  }
}

/*# sourceMappingURL=visual.css.map */
