body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
}

nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #374249;
  color: white;
}
nav div {
  height: 80px;
  width: 20%;
  background-color: #f75311;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
nav div img {
  height: 60%;
  padding-left: 20px;
  padding-right: 5px;
}
nav div a {
  color: white;
  font-size: 24px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 500px;
  list-style-type: none;
  text-decoration: none;
  padding-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

main .prvaKlasa {
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
  height: 100%;
}
main .prvaKlasa div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(55, 66, 73, 0.5411764706);
  color: white;
  margin-top: 20%;
  text-align: center;
}
main .prvaKlasa div h1 {
  font-size: 4em;
  font-weight: 400;
}
main .prvaKlasa div p {
  font-size: 24px;
}
main .drugaKlasa .buttonBox {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
main .drugaKlasa .buttonBox button {
  height: 50px;
  margin-left: 30px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px #cfd1d3 solid;
  font-size: 16px;
  color: #797979;
}
main .drugaKlasa .box1 {
  background-color: #f3f7f9;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  padding-bottom: 40px;
}
main .drugaKlasa .box1 .slike {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
main .drugaKlasa .box1 .slike div {
  height: 320px;
  width: 20%;
  overflow: hidden;
  margin: 20px;
}
main .trecaKlasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #797979;
}
main .trecaKlasa h1 {
  padding-top: 60px;
  color: #374249;
}
main .trecaKlasa p {
  padding-top: 50px;
}
main .trecaKlasa table {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 750px;
  height: 170px;
  border-collapse: collapse;
}
main .trecaKlasa table th, main .trecaKlasa table td {
  border: 1px solid #797979;
}
main .trecaKlasa table .zero {
  border: none;
}
main .trecaKlasa table .one {
  border: 1px solid #f75311;
  background-color: #f75311;
  font-weight: bold;
  color: white;
}
main .trecaKlasa table .two {
  background-color: #f75311;
  color: white;
}
main .trecaKlasa table .three {
  background-color: #374249;
  color: white;
  font-weight: bold;
}
main .cetvrtaKlasa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f7f9;
  padding-bottom: 60px;
}
main .cetvrtaKlasa h1 {
  padding-top: 60px;
  color: #374249;
}
main .cetvrtaKlasa div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 60px;
}
main .cetvrtaKlasa div iframe {
  height: 285px;
  width: 400px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma {
  width: 750px;
  height: 200px;
  background-color: #f75311;
  margin-top: 0;
  padding: 35px;
  margin-left: 20px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .horizontal .spol {
  width: 20%;
  height: 30px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .horizontal .imja {
  width: 70%;
  height: 30px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .pocta {
  height: 30px;
}
main .cetvrtaKlasa div .velikiNarandzastiPravougaonikAuNjemuForma form .tekst {
  height: 60px;
}

footer {
  height: 60px;
  background-color: #374249;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer p {
  bottom: 4px;
}
footer p span {
  color: #f75311;
}

/*# sourceMappingURL=visual.css.map */
