$Box_color_orange: #f75311;
$Box_color_darkblue: #374249;
$Box_color_nafone_grey: #f3f7f9;
$Button_color_hover: #cfd1d3;
$Font_color: #797979;
$Font_color_white: white;
$H_color: #374249;
$Font: 'Roboto', sans-serif;
