$narandzasta: #f75311;
$tamno_plava: #374249;
$boja_fonta: #797979;
$boja_naslova: #374249;
$svetlo_siva_hover: #cfd1d3;
$svetlo_siva_pozadina: #f3f7f9;
$font:'Roboto', sans-serif;
$boja_fonta_navigacija: #fff;