@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'vars';
@import 'mixins';

*{
    @include box-sizing;
}

body{
    font-family: $font;
}

.big_nav{
    background-color: $tamno_plava;
    @include flex{
        align-items: center;
        justify-content: start;
    };
    color: $boja_fonta_navigacija;
    font-weight: 300;

    .newyork{
        @include flex;
        padding: 20px 150px 20px 40px;
        background-color: $narandzasta;

        i{
            margin-right: 10px;
        }
    }

    ul{
        @include flex;

        li{
            list-style: none;
            padding: 0px 30px;
        }
    }
}

.hero{
    
    .image{
        position: relative;

        img{
            @include hero-image;
        }
    }

    .hero_text{
        @include center_absolute{
            width: 50%;
        }
        color: $boja_fonta_navigacija;
        background: rgba($tamno_plava, 0.5);
        h1{
            font-size: 50px;
            font-weight: 400;
        }

        p{
            font-weight: 300;
            font-size: 18px;
        }
    }
}

.galery{
    @include container;
    @include margin_in_sections;
    color: $boja_fonta;

    .filter{
            @include flex;
            justify-content: end;

        ul{
            @include flex;

            li{
                list-style: none;
                margin-right: 50px;
            }
        }
    }

    .flex_div{
        display: flex;
        flex-wrap: wrap;

        img{
            width: 200px;
            height: 300px;
            background-size: cover;
            margin-top: 50px;
            margin-right: 50px;
        }
    }

}

.pricing{
    @include container;
    @include margin_in_sections;
    position: relative;
    height: 350px;

    h2, p{
        text-align: center;
    }

    h2{
        @include heading;
    }

    p{
        color: $boja_fonta;
    }


    .table1{

            @include tabela_div{
                justify-content: end;
                left: 0;
            }

            table{
                @include tabele;

                td{
                    @include tabela_dt;
                }

                .orange{
                    background-color: $narandzasta;
                }
            }
        }
    }

    .table2{

        @include tabela_div{
            justify-content: start;
            right: 0;
        }
        
        table{
            @include tabele;

            td{
                @include tabela_dt;
            }

            .orange{
                background-color: $narandzasta;
            }
        }
}

.contact{
    @include container;
    @include margin_in_sections;

    h2{
        @include heading;
    }

    .contact_flex{
        margin-top: 100px;
        @include flex{
            justify-content: center;
        }
        
        iframe{
            width: 50%;
            height: 300px;
            margin-right: 100px;
        }

        form{
            @include forma;

            .first{
                @include flex{
                    justify-content: space-between;
                }
                
                select{
                    width: 100px;
                }

                input{
                    width: 400px;
                }
            }
        }
    }
}

footer{
    background-color: $tamno_plava;
    color: $boja_fonta_navigacija;
    text-align: center;
    font-weight: 300;
    padding: 10px;

    span{
        color: $narandzasta;
    }
}