@import "vars";
@import "mixins";

body {
    font-family: $Font;
}

* {
    margin:0;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $Box_color_darkblue;
    color: $Font_color_white;

    div {
        height: 80px;
        width: 20%;
        background-color: $Box_color_orange;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;

        img {
            height: 60%;
            padding-left: 20px;
            padding-right: 5px;
        }

        a {
            color: $Font_color_white;
            font-size: 24px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 500px;
        list-style-type: none;
        text-decoration: none; 
        padding-left: 20px;

        li {
            a {
                text-decoration: none;
                color: $Font_color_white;
                font-size: 18px;
                font-weight: 400;
            }

            &:hover {
                text-decoration: underline;
            }
        }


    }

    
    .nevidljivo {
        display: none;
    }
}

main {

    .prvaKlasa {
        background-image: url("../slike/intro.jpg");
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 15%;
        height: 100%;

        div {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #3742498a;
            color: $Font_color_white;
            margin-top: 20%;
            text-align: center;

            h1 {
                font-size: 4em;
                font-weight: 400;
            }

            p {
                font-size: 24px;
            }
        }
    }

    .drugaKlasa {

        .buttonBox {
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 25px;
            padding-bottom: 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            button {
                height: 50px;
                margin-left: 30px;
                padding-left: 25px;
                padding-right: 25px;
                background-color: white;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border: 1px $Button_color_hover solid;
                font-size: 16px;
                color: $Font_color;

                &:hover {
                    background-color: $Button_color_hover;
                    color: white;
                }
            }
        }

        .box1 {
            background-color: $Box_color_nafone_grey;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 40px;
            padding-bottom: 40px;

            .slike {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .zaHover {
                    height: 320px;
                    width: 20%;
                    overflow: hidden;
                    margin: 20px;
                    position: relative;

                    &:hover {
                        .zaHoverr {
                            display: block;
                        }
                    }

                    .zaHoverr {
                        position: absolute;
                        font-size: 1.7em;
                        background-color: rgba(255, 255, 255, 0.541);
                        padding-top: 1em;
                        padding-bottom: 2em;
                        padding-left: 0.5em;
                        display: none;
                    }


                }
            }
        }
    }

    .trecaKlasa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $Font_color;

        h1 {
            padding-top: 60px;
            color: $H_color;
        }

        p {
            padding-top: 50px;
        }

        button {
            display: none;
        }

        table {
            margin-top: 40px;
            margin-bottom: 80px;
            width: 750px;
            height: 170px;
            border-collapse: collapse;


            th,td {
                border: 1px solid $Font_color;
            }

            .zero {
                border: none;

            }

            .one {
                border: 1px solid $Box_color_orange;
                background-color: $Box_color_orange;
                font-weight: bold;
                color: white;
            }

            .two {
                background-color: $Box_color_orange;
                color: white;
            }

            .three {
                background-color: $Box_color_darkblue;
                color: white;
                font-weight: bold;

            }

        }
    }

    .cetvrtaKlasa {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $Box_color_nafone_grey;
        padding-bottom: 60px;

        h1 {
            padding-top: 60px;
            color: $H_color;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 70%;
            margin-top: 60px;

            iframe {
                height: 285px;
                width: 400px;
            }

            .velikiNarandzastiPravougaonikAuNjemuForma {
                width: 750px;
                height: 200px;
                background-color: $Box_color_orange;
                margin-top: 0;
                padding: 35px;
                margin-left: 20px;

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;

                    .horizontal {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        margin: 0;

                        .spol {
                            width: 20%;
                            height: 30px;
                        }

                        .imja {
                            width: 70%;
                            height: 30px;
                        }
                    }

                    .pocta {
                        height: 30px;
                    }

                    .tekst {
                        height: 60px;
                    }
                }
            }
        }
    }
}

footer {
    height: 60px;
    background-color: $Box_color_darkblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        bottom: 4px;
        span {
            color: $Box_color_orange;
        }
    }
}

@include medium {
    main {
        .drugaKlasa {
            .box1{
                .slike {
                    .zaHover {
                        width: 40%;
                    }
                }

            }
        }

        .cetvrtaKlasa {

            div {
                justify-content: center;

                .velikiNarandzastiPravougaonikAuNjemuForma {
                    margin-top: 2em;
                }
            }
        }
    }
}

@include small {
    nav { 
        flex-direction: column;

        div {
            width: 100%; 
            height: 80px;
        }

        ul {
            display: none;
        }

        .nevidljivo {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: $Box_color_darkblue;
            width: 100%;
            height: 240px;
            padding: 0;

            li {
                padding: 10px;
            }
        }

        &:hover {
            .nevidljivo {
                display: flex;
            }
        }
    }

    main {
        .prvaKlasa {
            background-image: none;
            background-color: black;
            align-items: end;
            padding-bottom: 3%;

            div {
                background-color: black;
                margin-top: 200px;

            }
        }
        .drugaKlasa{
            .buttonBox {
                padding-left: 5%;
                padding-right: 5%;
                justify-content: center;

                #bezM {
                    margin: 0;
                }
            }

            .box1{

                padding-left: 10px;
                padding-right: 10px;

                .slike {
                    .zaHover {
                        width: 95%;

                        img {
                            height: 240%;
                        }
                        .zaHoverr {
                            display: block;
                            padding-left: 1em;
                            padding-right: 10em;
                        }
                    }
                }

            }

        }
        .trecaKlasa {
            table {
                display: none;
            }

            button {
                display: block;
                height: 50px;
                margin-top: 2em;
                margin-bottom: 3em;
                padding-left: 25px;
                padding-right: 25px;
                background-color: white;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border: 1px $Button_color_hover solid;
                font-size: 16px;
                color: $Font_color;

                &:hover {
                    background-color: $Button_color_hover;
                    color: white;
                }
            }
        }
    }

}



